<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
        
}) %>
<body>

    <div class="container">
        <img src='../images/tu_equipo/images.jpg' id="baseImage" alt="Termo">

        <div id="overlay"></div>
        <img src="" id="addedImage" alt="" class="added-image">
        <div id="textOverlay"></div>
        <p id="addedText" class="added-text"></p>
    </div>

    <input type="file" id="imageInput">
    <input type="text" id="textInput" placeholder="Ingrese texto">

    <script src="script.js"></script>

    
</body>
</html>