<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {
    title : 'Nuevo'
}) %>
<body>
   
    <%- include('../partials/header-admin') %> 
    
    <main class="container">
        <section class="row my-5">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Editar</li>
                            </ol>
                          </nav>
                        <h4 class="cart-title">Editar producto</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <form action="" class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Nombre del producto">
                                    <label for="name">Producto</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <select name="category" class="form-select" id="category" aria-label="Floating label select example">
                                      <option selected>Seleccionar...</option>
                                      <option value="Clasicos">Clasicos</option>
                                      <option value="Elegantes">Elegantes</option>
                                      <option value="Personalizados">Personalizados</option>
                                    </select>
                                    <label for="floatingSelect">Selecciona la categoria</label>
                                  </div> 
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <textarea name="description" class="form-control" style="height: 200px; resize: none;" id="description"></textarea>
                                    <label for="descripcion">Descripcion</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                    <input type="file" class="form-control" id="mainImage" hidden>
                                    <label class="btn btn-lg btn-outline-dark w-100" for="mainImage">Imagen principal</label>
                            </div> 
                            <div class="col-12 col-md-6 mb-3">
                                <input type="file" class="form-control" id="images" hidden>
                                <label class="btn btn-lg btn-outline-dark w-100" for="images">Imagenes</label>
                            </div>
                            <div class="col-12 col-md-6 mb-3  ">
                                <button class="btn btn-lg btn-dark" for="mainImage">Guardar</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include('../partials/scripts') %> 
</body>
</html>