<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {
    title : 'Nuevo'
}) %>
<body>
   
    <%- include('../partials/header-admin') %> 
    
    <main class="container">
        <section class="row my-5">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Editar</li>
                            </ol>
                          </nav>
                        <h4 class="cart-title">Editar producto</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <form action="" class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Nombre del producto">
                                    <label for="name">Producto</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Nombre" type="text" class="form-control" id="Nombre" placeholder="Nombre">
                                    <label for="name">Nombre</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Tama単o" type="text" class="form-control" id="Tama単o" placeholder="Tama単o">
                                    <label for="name">Tama単o</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <select name="category" class="form-select" id="category" aria-label="Floating label select example">
                                      <option selected>Seleccionar...</option>
                                      <option value="Clasicos">Clasicos</option>
                                      <option value="Elegantes">Elegantes</option>
                                      <option value="Personalizados">Personalizados</option>
                                    </select>
                                    <label for="floatingSelect">Selecciona la categoria</label>
                                  </div> 
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Marca" type="text" class="form-control" id="Marca" placeholder="Marca">
                                    <label for="name">Marca</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <select name="Material" class="form-select" id="Material" aria-label="Floating label select example">
                                      <option selected>Material...</option>
                                      <option value="Clasicos">Plastico</option>
                                      <option value="Elegantes">Madera</option>
                                      <option value="Personalizados">Vidrio</option>
                                      <option value="Personalizados">Aluminio</option>
                                      <option value="Personalizados">Metal</option>
                                      <option value="Personalizados">Tela</option>
                                    </select>
                                    <label for="floatingSelect">Selecciona la categoria</label>
                                  </div> 
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Color" type="text" class="form-control" id="Color" placeholder="Color">
                                    <label for="name">Color</label>
                                  </div>
                            </div>
                          
                        
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <select name="Capacidad" class="form-select" id="Capacidad" aria-label="Floating label select example">
                                      <option selected>Capacidad...</option>
                                      <option value="Clasicos">350 ML</option>
                                      <option value="Elegantes">500 ML</option>
                                      <option value="Personalizados">750 ML</option>
                                      <option value="Personalizados">1 LITRO</option>
                                     
                                    </select>
                                    <label for="floatingSelect">Selecciona la categoria</label>
                                  </div> 
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Precio" type="text" class="form-control" id="Precio" placeholder="Color">
                                    <label for="name">Precio</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Descuento" type="text" class="form-control" id="Color" placeholder="Descuento">
                                    <label for="name">Descuento</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input name="Cantidad" type="text" class="form-control" id="Color" placeholder="Cantidad">
                                    <label for="name">Cantidad</label>
                                  </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <textarea name="description" class="form-control" style="height: 200px; resize: none;" id="description"></textarea>
                                    <label for="descripcion">Descripcion</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                    <input type="file" class="form-control" id="mainImage" hidden>
                                    <label class="btn btn-lg btn-outline-dark w-100" for="mainImage">Imagen principal</label>
                            </div> 
                            <div class="col-12 col-md-6 mb-3">
                                <input type="file" class="form-control" id="images" hidden>
                                <label class="btn btn-lg btn-outline-dark w-100" for="images">Imagenes</label>
                            </div>
                            <div class="col-12 col-md-6 mb-3  ">
                                <button class="btn btn-lg btn-dark" for="mainImage">Guardar</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include('../partials/scripts') %> 
</body>
</html>