<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/20529117ce.js" crossorigin="anonymous"></script>  
</head>
<body>
    <header class="header">
        <div class="logo">
            <img class="logo" alt="logo de la marca" src="/images/logo-web.png">
        </div>    
        <div class="buscador__nav">
                <nav class="nav_">
                    <div class="buscar__header">
                        <input type="text" placeholder="search...">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </nav>
        </div>
        <div class="icons__container">
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <nav class="nav">
            <ul class="nav__links">
                <li ><a class="li_nav" href="/">Inicio</a></li>
                <li><a class="li_nav" href="/#mateartips">#Mateartips</a></li>
                <li><a class="li_nav" href="/productos">Productos</a></li>
                <li><a class="li_nav" href="/mates_personalizados">Mates personalizados</a></li>
                <li><a class="li_nav" href="/contacto">Contacto</a></li>
                <li><a class="li_nav" href="/preguntas_frecuentes">Preguntas frecuentes</a></li>
            </ul>
            <label for="click" class="abrir-menu"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="click">
        </nav>
        
        
    </header>
    <main>


        
    </main>

</body>
</html>
