<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ando Mateando</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/246b141a4f.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="home_main">
        <section class="home_main-section">
    <section class="home_menu_destacados">
        <h3 class="home_menu_destacados-h3">categorias principales</h3>
        <ul class="home_menu_destacados_ul">
            <li class="home_menu_destacados_ul_li"><a href="/mates_personalizados">diseña tu equipo de mate </a></li>
            <li class="home_menu_destacados_ul_li"><a href="/">arma tu set de mate </a></li>
            <li class="home_menu_destacados_ul_li"><a href="/">super combos</a></li>
            <li class="home_menu_destacados_ul_li"><a href="/">termos</a></li>
            <li class="home_menu_destacados_ul_li"><a href="/">mates</a></li>
            <li class="home_menu_destacados_ul_li"><a href="/contacto">bombillas</a></li>
            <li class="home_menu_destacados_ul_li"><a href="/preguntas_frecuentes">set yerbero</a></li>
        </ul>
    </section>
    <section class="home_menu_destacados-imagenes">
    <section class="home_main-section-img">
        <a  href="/"><img src="./img/vista_armatumate.png" alt=""></a>  
        <a class="home_main-section-img-letra">diseña tu equipo</a>    
    </section>
    <section class="home_main-section-img">
        <a  href="/"><img src="./img/vista_armatuset.png" alt=""></a>
        <a class="home_main-section-img-letra">arma tu set de mate</a>
    </section>
    <section class="home_main-section-img"> 
        <a href="/mates_personalizados"><img src="./img/vista_supercombos.png" alt=""></a>
        <a class="home_main-section-img-letra"> combos</a>
    </section>
    <section class="home_main-section-img">
        <a  href=""><img src="./img/vista_bombilla.png" alt=""></a>
        <a class="home_main-section-img-letra">bombillas</a>
    </section>

    </section>
    <section class="home_main-section-img">
        <a  href=""> <img src="./img/vista_mate.png" alt=""></a>
        <a class="home_main-section-img-letra">mates</a>
    </section>
    <section class="home_main-section-img">
        <a href=""><img src="./img/vista_yerbera.png" alt=""></a>
        <a class="home_main-section-img-letra"> set yerbera</a>
    </section>
</section>
    </main>
    <footer class="footer">
        <section class="footer_section_navegacion">
            <h3>navegacion</h3>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="/mates_personalizados">mates personalizados</a></li>
                <li><a href="/#mateartips">#mateartips</a></li>
                <li><a href="/contacto">contacto</a></li>
                <li><a href="/preguntas_frecuentes">preguntas frecuentes</a></li>
            </ul>
        </section>
        <div class="footer_div_pago-envio">

            <section class="footer_section_pago">
                <h3>metodos de pago</h3>
                <div>
                    <img src="./img/visa.png" alt="visa">
                    <img src="./img/mastercar.png" alt="mastercar">
                    <img src="./img/naranja.png" alt="naranja">
                    <img src="./img/cabal.png" alt="cabal">
                </div>
                <div>
                    <img src="./img/america_express.png" alt="express">
                    <img src="./img/nativa.jpg" alt="nativa">
                    <img src="./img/argencard.png" alt="argencard">
                    <img src="./img/shopping.jpg" alt="shopping">
                </div>
            </section>
            <section class="footer_section_envio">
                <h3>formas de envio</h3>
                <img src="./img/oca.png" alt="oca">
                <img src="./img/correo_argentino.png" alt="correo">

            </section>
        </div>

        <section class="footer_section_contacto">
            <h3>contacto</h3>
            <p>
                <a href="11396759823 "> <i class="fa-solid fa-phone"></i> 1396759823</a>
            </p>
            <p>
                <a href="amando.mateando@gmail.com"><i class="fa-solid fa-at"></i> ando_mateando@gmail.com</a>
            </p>
            <p>
                <a href="avenida.del.mate"><i class="fa-solid fa-location-dot"></i> avenida del mate 5</a>
            </p>

        </section>

        <class class="footer_section_redes">
            <h3>redes sociales </h3>
            <div class="footer_section_redes_div">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <section class="footer_section_redes_div">
                <div class="footer_section_redes_div-correo">

                    <i class="fa-regular fa-envelope"></i>

                    <textarea class="footer_section_redes_div-correo-textarea" id="message" class="input"
                        name="message">dejanos tu mensaje:</textarea><br />
                    <span id="message_validation" class="error_message"></span>
                </div>

            </section>
        </class>
        </section>


    </footer>
</body>

</html>