<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1b447fcee0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
          <a href="/">  <img class="logo"  alt="logo de la marca" src="./img/logo-web.png"></ah>
        </div>    
        <div class="buscador__nav">
                <nav class="nav_">
                    <div class="buscar__header">
                        <input type="text" placeholder="search...">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </nav>
        </div>
        <div class="icons__container">
                <i class="fa-regular fa-user"></i>
                <a href="./productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <nav class="nav">
            <ul class="nav__links">
                <li ><a class="li_nav" href="/">Inicio</a></li>
                <li><a class="li_nav" href="/#mateartips">#Mateartips</a></li>
                <li><a class="li_nav" href="/detail">Productos</a></li>
                <li><a clas                                                                        s="li_nav" href="/mates_personalizados">Mates personalizados</a></li>
                <li><a class="li_nav" href="/contacto">Contacto</a></li>
                <li><a class="li_nav" href="/preguntas_frecuentes">Preguntas frecuentes</a></li>
            </ul> 
            <label for="click" class="abrir-menu"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="click">
        </nav>
        
        
    </header>
    <main class="productcart__main">
        <section class="section__main">
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="img/producto1.jpg" width="200" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >descripción del producto</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >$49.99</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="img/producto1.jpg" width="200" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >description</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >Precio</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="img/producto1.jpg" width="200" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >description</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >Precio</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="img/producto1.jpg" width="15" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >description</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >Precio</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer_section_navegacion">
            <h3>navegacion</h3>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="/mates_personalizados">mates personalizados</a></li>
                <li><a href="/#mateartips">#mateartips</a></li>
                <li><a href="/contacto">contacto</a></li>
                <li><a href="/preguntas_frecuentes">preguntas frecuentes</a></li>
            </ul>
        </section>
        <div class="footer_div_pago-envio">

            <section class="footer_section_pago">
                <h3>metodos de pago</h3>
                <div>
                    <img src="./img/visa.png" alt="visa">
                    <img src="./img/mastercar.png" alt="mastercar">
                    <img src="./img/naranja.png" alt="naranja">
                    <img src="./img/cabal.png" alt="cabal">
                </div>
                <div>
                    <img src="./img/america_express.png" alt="express">
                    <img src="./img/nativa.jpg" alt="nativa">
                    <img src="./img/argencard.png" alt="argencard">
                    <img src="./img/shopping.jpg" alt="shopping">
                </div>
            </section>
            <section class="footer_section_envio">
                <h3>formas de envio</h3>
                <img src="./img/oca.png" alt="oca">
                <img src="./img/correo_argentino.png" alt="correo">

            </section>
        </div>

        <section class="footer_section_contacto">
            <h3>contacto</h3>
            <p>
                <a href="11396759823 "> <i class="fa-solid fa-phone"></i> 1396759823</a>
            </p>
            <p>
                <a href="amando.mateando@gmail.com"><i class="fa-solid fa-at"></i> ando_mateando@gmail.com</a>
            </p>
            <p>
                <a href="avenida.del.mate"><i class="fa-solid fa-location-dot"></i> avenida del mate 5</a>
            </p>

        </section>

        <class class="footer_section_redes">
            <h3>redes sociales </h3>
            <div class="footer_section_redes_div">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <section class="footer_section_redes_div">
                <div class="footer_section_redes_div-correo">

                    <i class="fa-regular fa-envelope"></i>

                    <textarea class="footer_section_redes_div-correo-textarea" id="message" class="input"
                        name="message">dejanos tu mensaje:</textarea><br />
                    <span id="message_validation" class="error_message"></span>
                </div>

            </section>
        </class>
        </section>


    </footer>
    


</body>

</html>