<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ando Mateando</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/246b141a4f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <img class="logo" alt="logo de la marca" src="./img/logo-web.png">
        </div>    
        <div class="buscador__nav">
                <nav class="nav_">
                    <div class="buscar__header">
                        <input type="text" placeholder="search...">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </nav>
        </div>
        <div class="icons__container">
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <nav class="nav">
            <ul class="nav__links">
                <li ><a class="li_nav" href="/">Inicio</a></li>
                <li><a class="li_nav" href="/#mateartips">#Mateartips</a></li>
                <li><a class="li_nav" href="/productos">Productos</a></li>
                <li><a class="li_nav" href="/mates_personalizados">Mates personalizados</a></li>
                <li><a class="li_nav" href="/contacto">Contacto</a></li>
                <li><a class="li_nav" href="/preguntas_frecuentes">Preguntas frecuentes</a></li>
            </ul>
            <label for="click" class="abrir-menu"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="click">
        </nav>
        
        
    </header>
    <main class="home_main">
            <!-- Swiper -->
        <div class="home_main_banner">

            <div class="swiper mySwiper" class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./img/vista_armatumate.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./img/vista_armatuset.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./img/vista_bombilla.png" alt=""></div>
                <div class="swiper-slide">
                    <img src="./img/vista_mate.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./img/vista_supercombos.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./img/vista_yerbera.png" alt="">
                </div>
               
              </div>
              <div class="swiper-pagination"></div>
            </div>
          
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
          
            <!-- Initialize Swiper -->
            <script>
              var swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,
                spaceBetween: 30,
                freeMode: true,
                pagination: {
                  el: ".swiper-pagination",
                  clickable: true,
                },
              });
            </script>
        </div>
        <!---section--->
        <section class="home_main-section">
            <section class="home_menu_destacados">
                <h3 class="home_menu_destacados-h3">categorias principales</h3>
                <ul class="home_menu_destacados_ul">
                    <li class="home_menu_destacados_ul_li"><a href="/mates_personalizados">diseña tu equipo de mate </a>
                    </li>
                    <li class="home_menu_destacados_ul_li"><a href="/">arma tu set de mate </a></li>
                    <li class="home_menu_destacados_ul_li"><a href="/">super combos</a></li>
                    <li class="home_menu_destacados_ul_li"><a href="/">termos</a></li>
                    <li class="home_menu_destacados_ul_li"><a href="/">mates</a></li>
                    <li class="home_menu_destacados_ul_li"><a href="/contacto">bombillas</a></li>
                    <li class="home_menu_destacados_ul_li"><a href="/preguntas_frecuentes">set yerbero</a></li>
                </ul>
            </section>
        </section>
<section class="combos_productos">
   
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/metal.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/plastico.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">terno</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/metal.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/plastico.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">terno</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/metal.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/plastico.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">terno</a>
                </article>
                </div>
            </div>

            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/metal.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/plastico.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">termo</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productCart"><img class="combos_main-section-img" src="./img/fotos/ternos/vidrio2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">terno</a>
                </article>
                </div>
            </div>


            

      
            </section>
</section>
       
    </main>
    <footer class="footer">
        <section class="footer_section_navegacion">
            <h3>navegacion</h3>
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="/mates_personalizados">mates personalizados</a></li>
                <li><a href="/#mateartips">#mateartips</a></li>
                <li><a href="/contacto">contacto</a></li>
                <li><a href="/preguntas_frecuentes">preguntas frecuentes</a></li>
            </ul>
        </section>
        <div class="footer_div_pago-envio">

            <section class="footer_section_pago">
                <h3>metodos de pago</h3>
                <div>
                    <img src="./img/visa.png" alt="visa">
                    <img src="./img/mastercar.png" alt="mastercar">
                    <img src="./img/naranja.png" alt="naranja">
                    <img src="./img/cabal.png" alt="cabal">
                </div>
                <div>
                    <img src="./img/america_express.png" alt="express">
                    <img src="./img/nativa.jpg" alt="nativa">
                    <img src="./img/argencard.png" alt="argencard">
                    <img src="./img/shopping.jpg" alt="shopping">
                </div>
            </section>
            <section class="footer_section_envio">
                <h3>formas de envio</h3>
                <img src="./img/oca.png" alt="oca">
                <img src="./img/correo_argentino.png" alt="correo">

            </section>
        </div>

        <section class="footer_section_contacto">
            <h3>contacto</h3>
            <p>
                <a href="11396759823 "> <i class="fa-solid fa-phone"></i> 1396759823</a>
            </p>
            <p>
                <a href="amando.mateando@gmail.com"><i class="fa-solid fa-at"></i> ando_mateando@gmail.com</a>
            </p>
            <p>
                <a href="avenida.del.mate"><i class="fa-solid fa-location-dot"></i> avenida del mate 5</a>
            </p>

        </section>

        <class class="footer_section_redes">
            <h3>redes sociales </h3>
            <div class="footer_section_redes_div">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <section class="footer_section_redes_div">
                <div class="footer_section_redes_div-correo">

                    <i class="fa-regular fa-envelope"></i>

                    <textarea class="footer_section_redes_div-correo-textarea" id="message" class="input"
                        name="message">dejanos tu mensaje:</textarea><br />
                    <span id="message_validation" class="error_message"></span>
                </div>

            </section>
        </class>
        </section>


    </footer>
    


</body>

</html>