.home_main {
    max-width: 414px;
    width: 100%;
    text-align: end;
    background-color: #fff;
}


.home_menu_destacados {
    display: none;

}

.home_main-section-img img {
    border-radius: 20%;
   
}

.home_main-section-img {
    position: relative;
    border-radius: 20px;
    top: 40px;
  text-align: center;
}

.home_main-section-img img {
    width: 80%;
    padding: 20px 0px 20px 0;
    height: 300px;

}

.home_menu_destacados-h3 {
    color: #fff;
}

.home_menu_destacados_ul_li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
}

.home_menu_destacados_ul {
    list-style: none;

}

.home_main-section-img-letra {
    text-transform: uppercase;
    color: #fff;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    text-align: center;
    width: 80%;
    position: absolute;
    margin: 0;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*BANNER*/
.home_main_banner {
    display: none;
}


@media (min-width:415px ) {
    .home_main_banner {
        display: inline;
       
    }

    .home_main {
     max-width: 100%;
     margin-top: 50px;
    }

    .home_main-section {
        display: flex;
        flex-wrap: wrap;
        justify-self: flex-end;
      
    }

    .home_menu_destacados {
        display: inline;
    }


    .home_menu_destacados {
        position: relative;
        width: 23%;
        height: 5%;
        margin: 60px 15px 0px 15px;
        padding: 15px 10px 30px 15px;
        background-color: var(--verdeOscuro);
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Inter';
    }

    .home_menu_destacados-h3 {
        font-size: 10px;
    }

    .home_menu_destacados_ul {
        text-align: left;

    }

    .home_menu_destacados_ul_li {
        font-size: 8px;
        padding-top: 10px;
        padding-left: 35px;
    }

    .home_main-section-img {
        width: 20%;
        padding: 0px;
        max-width: 60%;
        padding: 15px;
    }

    .home_main-section-img img {
        width: 100%;

    }

    .home_main-section-img-letra {
        padding: 0px;
        width: 83%;

    }

    .home_menu_destacados-imagenes {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row-reverse;
        position: relative;
        top: -250px;
        left: 0px;
        width: 150%;

    }

    .home_main-section-img-div {
        display: flex;
        flex-direction:row-reverse;
        
        position: relative;
        width: 150%;
        right: 0px;

    }
      /*BANNER*/
      .swiper {
        margin-top: 20px;
        width: 100%;
        height: 15pc;
    }

}
.swiper {
    margin-top: 20px;
    width: 100%;
    height: 22pc;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home_main-section-img-letra{
    margin: 0px;
}


@media(min-width: 780px) {
    .home_main {
        max-width: 100%;
        margin-top: 30px;
       }

    /*BANNER*/
    main {
        padding-top: 30px;
    }
    .swiper {
        margin-top: 20px;
        width: 100%;
        height: 22pc;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*indice*/
    .home_menu_destacados{
        width: 18%;
        
        
    }
   
    /*imagenes*/

    .home_main-section-img img {
        width: 110%;


       
    }
    .home_main-section-img{
        left: -50px;
       
        margin: 0px 20px 0px 20px;
      
    }   
    .home_main-section-img-letra{
        margin-left:  13px;
        width: 98.5%;
    }

    .home_main-section-img-div {
     
        width: 100%;

    }
    .home_main-section{
        max-width: 100%;
    }
}
   