.main__login-registro {
  box-sizing: border-box;
}
.main__login-registro {
  font-family: "Inter", sans-serif;
  background-color: #d9e2d5;
  font-weight: bold;

  border-bottom: 1px solid #3e6765;
}
.main__login-registro {
  display: grid;
  place-items: center;
}
.create-form {
  padding: 20px 15px;
}

.control-login {
  margin-top: 15px;
  width: 70%;
}
.main__login-registro img {
  width: 100%;
}
.control-login label {
  margin-bottom: 15px;
  font-style: normal;
  display: block;
  width: 80%;
}

.control {
  width: 100%;
  padding: 8px;
}

.acepto {
  font-size: small;
}

.tienes-cuenta {
  color: #3e6765;
}

/*Boton log in*/
.boton-login {
  display: block;
  border-radius: 8px;
  background-color: #3e6765;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 28px;
  margin: auto;
  text-align: center;
  transition-duration: 0.4s;
}

.boton-login:hover {
  background-color: #ffffff;
  color: #3e6765;
}

/* Forgot password*/
.password {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #3e6765;
}

.Register_login--ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #0e1111;
  text-decoration: none;
  line-height: 50px;
  text-transform: none;
}

.signin {
  color: #3e6765;
}
/* Añadir a tu hoja de estilos CSS */
.boton-login,
.boton-registro {
  display: block;
  border-radius: 8px;
  background-color: #3e6765;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 28px;
  margin: auto;
  text-align: center;
  transition-duration: 0.4s;
}

.boton-login:hover,
.boton-registro:hover {
  background-color: #ffffff;
  color: #3e6765;
}

/*Tablet*/

@media (min-width: 768px) {
  .control-login {
    align-items: center;
  }
  .logo {
    width: fit-content;
  }
  .main__login-registro {
    display: flex;
    flex-wrap: wrap;
  }
  .main__login-registro-sec {
    width: 50%;
  }
}

/*Laptop*/

@media (min-width: 1200px) {
  .main__login-registro {
    padding: 150px;
    margin: auto;
  }
  .control-login {
    width: 350px 480px;
    display: center;
    align-items: center;
  }
}
