<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{
    title : "error 404"
}) %>
<body>
    <main>
    <section class="page_404">
     
            
            <h1 class="text-center ">error 404</h1>
          
            <img src="/images/gif/tea-mate.gif" alt="">
          </div>
          
          
          <h3 class="h2">
          toma un mate
          </h3>
          
          <p>mientras tratamos de solucionar este error</p>
          
          <a href="/" class="link_404">ir a Home</a>
        </div>
          </div>
          </div>
          </div>
        </div>
      </section>
    </main>
</body>
</html>