<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title : "carrito"
    }) %>
<body>
    <%- include('./partials/header') %>
    <main class="productcart__main">
        <section class="section__main">
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="images/producto1.jpg" width="200" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >descripción del producto</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >$49.99</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="images/producto1.jpg" width="200" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >description</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >Precio</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="images/producto1.jpg" width="200" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >description</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >Precio</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
            <article class="productcart__article">
                <div class="article__img__box">
                    <img class="article__img" src="images/producto1.jpg" width="15" alt="imgagen del producto">
                </div>
                <div class="article__individual">
                    
                    <p class="article__description" >description</p>
                    <p class="article__aviable" >Disponible</p>
                    <p class="article__price" >Precio</p>
                    <p class="article__color" >Color</p>
                </div>
                <div class="article__relative">
                    <p class="article__borrar">Borrar</p>
                    <p class="article__duplicar">Duplicar</p>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
    


</body>

</html>