<div class="home_main_banner">

    <div class="swiper mySwiper" class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../images/vista_armatumate.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../images/vista_armatuset.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../images/vista_bombilla.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../images/vista_mate.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../images/vista_supercombos.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../images/vista_yerbera.png" alt="">
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            freeMode: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
</div>