<header class="header">
    <div class="logo">
      <a href="/" > <img class="logo"  alt="logo de la marca" src="../images/logo-web.png"></a>
    </div>    
    <div class="buscador__nav">
            <nav class="nav_">
                <div class="buscar__header">
                    <input type="text" placeholder="search...">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </nav>
    </div>
    <div class="icons__container">
        <a href="/usuarios/ingreso"><i class="fa-regular fa-user"></i></a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <nav class="nav">
        <ul class="nav__links">
            <li ><a class="li_nav" href="/">Inicio</a></li>
            <li><a class="li_nav" href="/mateartips">#Mateartips</a></li>
            <li><a class="li_nav" href="/productos/detalle">Productos</a></li>
            <li><a class="li_nav" href="/productos/mates_personalizados">Mates personalizados</a></li>
            <li><a class="li_nav" href="/contacto">Contacto</a></li>
            <li><a class="li_nav" href="/preguntas_frecuentes">Preguntas frecuentes</a></li>
        </ul> 
        <label for="click" class="abrir-menu"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="click">
    </nav>
    
    
</header>