<section class="home_menu_destacados">
    <h3 class="home_menu_destacados-h3">categorias principales</h3>
    <ul class="home_menu_destacados_ul">
        <li class="home_menu_destacados_ul_li"><a href="/mates_personalizados">diseña tu equipo de mate </a>
        </li>
        <li class="home_menu_destacados_ul_li"><a href="/productos/arma_tu_equipo">arma tu set de mate </a></li>
        <li class="home_menu_destacados_ul_li"><a href="/productos/super_combos">super combos</a></li>
        <li class="home_menu_destacados_ul_li"><a href="/productos/termos">termos</a></li>
        <li class="home_menu_destacados_ul_li"><a href="/productos/mate">mates</a></li>
        <li class="home_menu_destacados_ul_li"><a href="/productos/termos">termos</a></li>
        <li class="home_menu_destacados_ul_li"><a href="/productos/set_yerbero">set yerbero</a></li>
    </ul>
</section>