<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {
    title: "login"
  }) %>
  <body>
    <%- include('../partials/header') %>

    <main class="main__login-registro">
      <section class="main__login-registro-sec">
        <img class="img-logo-regis" src="../images/logo (1).jpg">
      </section>
      <section class="main__login-registro-sec">
        <form action="/login" method="POST" class="create-login">
          <div class="control-login">
            <label>Nombre de usuario</label>
            <input type="text" name="Nombre" class="control" placeholder="Ej. usuario123">
          </div>
          <div class="control-login">
            <label>Contraseña</label>
            <input type="password" name="password" class="control" placeholder="Ej. Contraseña123">
          </div>
          <div>
            <input type="checkbox" name="rememberMe">
            <label>Recuérdame</label>
          </div>
          <nav>
            <ul class="Register_login--ul">
              <li><a href="#" class="password">¿Olvidaste tu contraseña?</a></li>
            </ul>
          </nav>

          <button type="submit" class="boton-login">Iniciar sesión</button>

          <nav>
            <ul class="Register_login--ul">
              <li><a href="./registro" class="password">Registrarse</a></li>
              <li><a href="/views/" class="signin">O inicia sesión con <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </nav>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
