<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {
    title: "registro"
  }) %>
  <body>
    <%- include('../partials/header') %>

    <main class="main__login-registro">
      <section class="main__login-registro-sec">
        <img
          src="../images/logo (1).jpg"
          style="width: 350px; height: 350px;"
          class="logo"
        />
      </section>
      <section class="main__login-registro-sec">
        <form action="/registro" method="POST" enctype="multipart/form-data" class="create-login">
          <div class="control-login">
            <input type="text" name="nombre" class="control" id="nombre" placeholder="Ej. Juan Pérez">
            <label  for="nombre">Nombre</label>
            
          </div>
          <div class="control-login">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" class="control" id="email" placeholder="Ej. correo@ejemplo.com">
          </div>
          <div class="control-login">
            <label for="telefono">Teléfono (opcional)</label>
            <input type="tel" name="telefono" class="control" id="telefono" placeholder="Ej. 123-456-7890">
          </div>
          <div class="control-login">
            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" class="control" placeholder="Ej. Contraseña123">
          </div>
          <div class="control-login">
            <label>Confirmar contraseña</label>
            <input type="password" name="confirmarContrasena" class="control" placeholder="Ej. Contraseña123">
          </div>
          <div>
            <input type="checkbox" name="acepto">
            <label class="acepto">Acepto los Términos, Condiciones y Políticas de AndoMateando</label>
          </div>

          <button type="submit" class="boton-login">Regístrate</button>

          <nav>
            <ul class="Register_login--ul">
              <li><a href="#" class="tienes-cuenta">¿Tienes una cuenta? Inicia Sesión</a></li>
            </ul>
          </nav>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
